.app {
  text-align: center;
}

#logo {
  object-fit: none;
  width: 70%;
}

.app_header {
  background-color: #1697ca;
  color: white;
  border-width: thick;
  border-color: #afeffb;
  border-style: ridge;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app_wrapper_content {
  display: flex;
  color: rgb(211, 200, 55);
}
